/* Style Sheet */
/* Color Scheme = #EAE7DC, #D8C3A5, #8E8D8A, #E98074, #E85A4F */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #EAE7DC;
}
.firstbox {
    background-color:#8E8D8A ;
    width: 320px;
    padding: 10px;
    border: 5px solid #E98074;
}
.list {
    padding: auto;
    margin: auto;
    text-decoration: none;
    color: #E98074;
    font-size: 25px;
    line-height: 40px;
}
.image1 {
   height: 400px;
   width: auto;
}